<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>okrShell.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>88F1D96F250D943D7EAECBD653FC66EC9B80A9BE</string>
				<key>dateExpires</key>
				<string>2021/8/10</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4YHJ35DTYU.com.shujincloud.okr1</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4YHJ35DTYU</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>徕檬OA.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>740fb77a-ea4b-454c-a5fe-201951a2fae7</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.shujincloud.okr1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4YHJ35DTYU</string>
				<key>name</key>
				<string>Suzhou weiju information technology co. LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
